ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
    margin-bottom: 25px;
}

#header {
    margin-bottom: 40px;
}

.modal-body {
    padding: 5px !important;
}

.modal-content {
    border-radius: 0;
}

.modal-dialog img {
    text-align: center;
    margin: 0 auto;
}

.controls {
    width: 60px;
    display: block;
    font-size: 11px;
    padding-top: 8px;
    font-weight: bold;
}

.next {
    float: right;
    text-align: right;
}
